config/databases.yml
apps/frontend/config/settings.yml
apps/frontend/config/app.yml
apps/frontend/config/factories.yml
cache/*
log/*
plugins/.*
web/sf
web/sitemap.xml
web/sitemaps/*
web/uploads/*
*.php~
.DS_Store
*.tmp
!.gitignore
